<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gama_Menu>
            <version>0.1.1</version>
        </Gama_Menu>
    </modules>
    <global>
        <models>
            <menu>
                <class>Gama_Menu_Model</class>
            </menu>
        </models>
        <resources>
                <gama_category_setup>
                        <setup>
                                <module>Gama_Menu</module>
                                <class>Mage_Eav_Model_Entity_Setup</class>
                        </setup>
                </gama_category_setup>
                 <connection>
                        <use>core_setup</use>
                  </connection>
        </resources>
    </global>
</config>
